In [107]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
color = sns.color_palette()
sns.set_style('darkgrid')

In [108]:
data1=pd.read_csv('data/data_csv.csv')
data2=pd.read_csv('data/Toddler Autism dataset July 2018.csv')
data3=pd.read_csv('data/autism_screening.csv')

In [109]:
data1.head()

,CASE_NO_PATIENT'S,A1,A2,A3,A4,A5,A6,A7,A8,A9,...,Global developmental delay/intellectual disability,Social/Behavioural Issues,Childhood Autism Rating Scale,Anxiety_disorder,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who_completed_the_test,ASD_traits
0,1,0,0,0,0,0,0,1,1,0,...,Yes,Yes,1,Yes,F,middle eastern,Yes,No,Family Member,No
1,2,1,1,0,0,0,1,1,0,0,...,Yes,Yes,2,Yes,M,White European,Yes,No,Family Member,Yes
2,3,1,0,0,0,0,0,1,1,0,...,Yes,Yes,4,Yes,M,Middle Eastern,Yes,No,Family Member,Yes
3,4,1,1,1,1,1,1,1,1,1,...,Yes,Yes,2,Yes,M,Hispanic,No,No,Family Member,Yes
4,5,1,1,0,1,1,1,1,1,1,...,Yes,Yes,1,Yes,F,White European,No,No,Family Member,Yes

In [110]:
data2.head()

,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Qchat-10-Score,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits
0,1,0,0,0,0,0,0,1,1,0,1,28,3,f,middle eastern,yes,no,family member,No
1,2,1,1,0,0,0,1,1,0,0,0,36,4,m,White European,yes,no,family member,Yes
2,3,1,0,0,0,0,0,1,1,0,1,36,4,m,middle eastern,yes,no,family member,Yes
3,4,1,1,1,1,1,1,1,1,1,1,24,10,m,Hispanic,no,no,family member,Yes
4,5,1,1,0,1,1,1,1,1,1,1,20,9,f,White European,no,yes,family member,Yes

In [111]:
data3.head()

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,...,gender,ethnicity,jundice,austim,contry_of_res,used_app_before,result,age_desc,relation,Class/ASD
0,1,1,1,1,0,0,1,1,0,0,...,f,White-European,no,no,United States,no,6.0,18 and more,Self,NO
1,1,1,0,1,0,0,0,1,0,1,...,m,Latino,no,yes,Brazil,no,5.0,18 and more,Self,NO
2,1,1,0,1,1,0,1,1,1,1,...,m,Latino,yes,yes,Spain,no,8.0,18 and more,Parent,YES
3,1,1,0,1,0,0,1,1,0,1,...,f,White-European,no,yes,United States,no,6.0,18 and more,Self,NO
4,1,0,0,0,0,0,0,1,0,0,...,f,?,no,no,Egypt,no,2.0,18 and more,?,NO

In [112]:
print(data1.columns)
print(data2.columns)
print(data3.columns)

Index(['CASE_NO_PATIENT'S', 'A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8',
       'A9', 'A10_Autism_Spectrum_Quotient', 'Social_Responsiveness_Scale',
       'Age_Years', 'Qchat_10_Score', 'Speech Delay/Language Disorder',
       'Learning disorder', 'Genetic_Disorders', 'Depression',
       'Global developmental delay/intellectual disability',
       'Social/Behavioural Issues', 'Childhood Autism Rating Scale',
       'Anxiety_disorder', 'Sex', 'Ethnicity', 'Jaundice',
       'Family_mem_with_ASD', 'Who_completed_the_test', 'ASD_traits'],
      dtype='object')
Index(['Case_No', 'A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10',
       'Age_Mons', 'Qchat-10-Score', 'Sex', 'Ethnicity', 'Jaundice',
       'Family_mem_with_ASD', 'Who completed the test', 'Class/ASD Traits '],
      dtype='object')
Index(['A1_Score', 'A2_Score', 'A3_Score', 'A4_Score', 'A5_Score', 'A6_Score',
       'A7_Score', 'A8_Score', 'A9_Score', 'A10_Score', 'age', 'gender',
       'ethnicity', 'jundice', 'austim', 'contry_of_res', 'used_app_before',
       'result', 'age_desc', 'relation', 'Class/ASD'],
      dtype='object')

In [113]:
df1=pd.concat([data1.iloc[:,1:11],data1.iloc[:,[12,22,23,24,25,26,27]]],axis=1)
df1.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10_Autism_Spectrum_Quotient,Age_Years,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who_completed_the_test,ASD_traits
0,0,0,0,0,0,0,1,1,0,1,2,F,middle eastern,Yes,No,Family Member,No
1,1,1,0,0,0,1,1,0,0,0,3,M,White European,Yes,No,Family Member,Yes
2,1,0,0,0,0,0,1,1,0,1,3,M,Middle Eastern,Yes,No,Family Member,Yes
3,1,1,1,1,1,1,1,1,1,1,2,M,Hispanic,No,No,Family Member,Yes
4,1,1,0,1,1,1,1,1,1,1,2,F,White European,No,No,Family Member,Yes

In [114]:
df2=pd.concat([data2.iloc[:,1:12],data2.iloc[:,13:]],axis=1)
df2['Age_Mons']=(df2['Age_Mons']/12).astype(int)
df2.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits
0,0,0,0,0,0,0,1,1,0,1,2,f,middle eastern,yes,no,family member,No
1,1,1,0,0,0,1,1,0,0,0,3,m,White European,yes,no,family member,Yes
2,1,0,0,0,0,0,1,1,0,1,3,m,middle eastern,yes,no,family member,Yes
3,1,1,1,1,1,1,1,1,1,1,2,m,Hispanic,no,no,family member,Yes
4,1,1,0,1,1,1,1,1,1,1,1,f,White European,no,yes,family member,Yes

In [115]:
df3=pd.concat([data3.iloc[:,0:15],data3.iloc[:,-2:]],axis=1)
df3.head()

,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,age,gender,ethnicity,jundice,austim,relation,Class/ASD
0,1,1,1,1,0,0,1,1,0,0,26.0,f,White-European,no,no,Self,NO
1,1,1,0,1,0,0,0,1,0,1,24.0,m,Latino,no,yes,Self,NO
2,1,1,0,1,1,0,1,1,1,1,27.0,m,Latino,yes,yes,Parent,YES
3,1,1,0,1,0,0,1,1,0,1,35.0,f,White-European,no,yes,Self,NO
4,1,0,0,0,0,0,0,1,0,0,40.0,f,?,no,no,?,NO

In [116]:
order_test= pd.DataFrame({
    'df1': df1.columns,
    'df2': df2.columns ,
    'df3': df3.columns
})
order_test

                             df1                     df2        df3
0                             A1                      A1   A1_Score
1                             A2                      A2   A2_Score
2                             A3                      A3   A3_Score
3                             A4                      A4   A4_Score
4                             A5                      A5   A5_Score
5                             A6                      A6   A6_Score
6                             A7                      A7   A7_Score
7                             A8                      A8   A8_Score
8                             A9                      A9   A9_Score
9   A10_Autism_Spectrum_Quotient                     A10  A10_Score
10                     Age_Years                Age_Mons        age
11                           Sex                     Sex     gender
12                     Ethnicity               Ethnicity  ethnicity
13                      Jaundice                Jaundice    jundice
14           Family_mem_with_ASD     Family_mem_with_ASD     austim
15        Who_completed_the_test  Who completed the test   relation
16                    ASD_traits       Class/ASD Traits   Class/ASD

In [117]:
# Rename columns to have the same names in all DataFrames
df2.columns = df3.columns = df1.columns

# Concatenate the DataFrames
data_fin = pd.concat([df3, df2, df1], axis=0)
data_fin.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10_Autism_Spectrum_Quotient,Age_Years,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who_completed_the_test,ASD_traits
0,1,1,1,1,0,0,1,1,0,0,26.0,f,White-European,no,no,Self,NO
1,1,1,0,1,0,0,0,1,0,1,24.0,m,Latino,no,yes,Self,NO
2,1,1,0,1,1,0,1,1,1,1,27.0,m,Latino,yes,yes,Parent,YES
3,1,1,0,1,0,0,1,1,0,1,35.0,f,White-European,no,yes,Self,NO
4,1,0,0,0,0,0,0,1,0,0,40.0,f,?,no,no,?,NO

In [118]:
data_fin.shape

(3743, 17)

In [119]:
# Get object type columns
object_cols = data_fin.select_dtypes('O').columns

# Create new DataFrame
object_df = pd.DataFrame({
    'Objects': object_cols,
    'Unique values': [data_fin[col].unique() for col in object_cols],
    'number of unique values':[data_fin[col].nunique()for col in object_cols]
})

object_df

,Objects,Unique values,number of unique values
0,Sex,"[f, m, F, M]",4
1,Ethnicity,"[White-European, Latino, ?, Others, Black, Asi...",23
2,Jaundice,"[no, yes, Yes, No]",4
3,Family_mem_with_ASD,"[no, yes, No, Yes]",4
4,Who_completed_the_test,"[Self, Parent, ?, Health care professional, Re...",11
5,ASD_traits,"[NO, YES, No, Yes]",4

In [120]:
data_fin.columns

Index(['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9',
       'A10_Autism_Spectrum_Quotient', 'Age_Years', 'Sex', 'Ethnicity',
       'Jaundice', 'Family_mem_with_ASD', 'Who_completed_the_test',
       'ASD_traits'],
      dtype='object')

In [121]:
for col in ['Sex', 'Ethnicity',
       'Jaundice', 'Family_mem_with_ASD', 'Who_completed_the_test',
       'ASD_traits']:
    print("-------------------------------")
    print(f'Column name: {col}\n')
    print(f'Unique values:\n{data_fin[col].unique()}')

-------------------------------
Column name: Sex

Unique values:
['f' 'm' 'F' 'M']
-------------------------------
Column name: Ethnicity

Unique values:
['White-European' 'Latino' '?' 'Others' 'Black' 'Asian' 'Middle Eastern '
 'Pasifika' 'South Asian' 'Hispanic' 'Turkish' 'others' 'middle eastern'
 'White European' 'black' 'asian' 'south asian' 'Native Indian' 'mixed'
 'Pacifica' 'Middle Eastern' 'Mixed' 'PaciFica']
-------------------------------
Column name: Jaundice

Unique values:
['no' 'yes' 'Yes' 'No']
-------------------------------
Column name: Family_mem_with_ASD

Unique values:
['no' 'yes' 'No' 'Yes']
-------------------------------
Column name: Who_completed_the_test

Unique values:
['Self' 'Parent' '?' 'Health care professional' 'Relative' 'Others'
 'family member' 'Health Care Professional' 'Family Member'
 'Family member' 'School and NGO']
-------------------------------
Column name: ASD_traits

Unique values:
['NO' 'YES' 'No' 'Yes']

In [122]:
replacements = {
    'f': 'F',
    'm': 'M',
}
data_fin['Sex'] = data_fin['Sex'].replace(replacements)

In [123]:
replacements = {
    'yes': 'Yes',
    'no': 'No',
}
data_fin['Jaundice'] = data_fin['Jaundice'].replace(replacements)

In [124]:
replacements = {
    'yes': 'Yes',
    'no': 'No',
}
data_fin['Family_mem_with_ASD'] = data_fin['Family_mem_with_ASD'].replace(replacements)

In [125]:
replacements = {
    'YES': 'Yes',
    'NO': 'No',
}
data_fin['ASD_traits'] = data_fin['ASD_traits'].replace(replacements)

In [126]:
replacements = {
    'middle eastern': 'Middle Eastern',
    'Middle Eastern ': 'Middle Eastern',
    'mixed': 'Mixed',
    'asian': 'Asian',
    'black': 'Black',
    'south asian': 'South Asian',
    'PaciFica':'Pacifica',
    'Pasifika':'Pacifica'
    
}
data_fin['Ethnicity'] = data_fin['Ethnicity'].replace(replacements)

In [127]:
replacements = {
    'Health care professional':'Health Care Professional',
    'family member':'Family Member',
    'Family member':'Family Member'
}
data_fin['Who_completed_the_test'] = data_fin['Who_completed_the_test'].replace(replacements)

In [128]:
for col in ['Sex', 'Ethnicity',
       'Jaundice', 'Family_mem_with_ASD', 'Who_completed_the_test',
       'ASD_traits']:
    print("-------------------------------")
    print(f'Column name: {col}\n')
    print(f'Unique values:\n{data_fin[col].unique()}')

-------------------------------
Column name: Sex

Unique values:
['F' 'M']
-------------------------------
Column name: Ethnicity

Unique values:
['White-European' 'Latino' '?' 'Others' 'Black' 'Asian' 'Middle Eastern'
 'Pacifica' 'South Asian' 'Hispanic' 'Turkish' 'others' 'White European'
 'Native Indian' 'Mixed']
-------------------------------
Column name: Jaundice

Unique values:
['No' 'Yes']
-------------------------------
Column name: Family_mem_with_ASD

Unique values:
['No' 'Yes']
-------------------------------
Column name: Who_completed_the_test

Unique values:
['Self' 'Parent' '?' 'Health Care Professional' 'Relative' 'Others'
 'Family Member' 'School and NGO']
-------------------------------
Column name: ASD_traits

Unique values:
['No' 'Yes']

In [129]:
data_fin['Ethnicity'].replace('?', np.nan, inplace=True)
data_fin['Who_completed_the_test'].replace('?', np.nan, inplace=True)

In [130]:
pd.DataFrame(data_fin.isnull().sum(), 
             columns=["Missing Values"]).style.bar(color = "#84A9AC")

In [131]:
idf=data_fin.copy()
from sklearn.impute import SimpleImputer

In [132]:
imp = SimpleImputer(strategy='most_frequent')
imputed_data = pd.DataFrame(imp.fit_transform(idf))
imputed_data.columns = idf.columns
imputed_data.index = idf.index

In [133]:
pd.DataFrame(imputed_data.isnull().sum(), 
             columns=["Missing Values"]).style.bar(color = "#84A9AC")

/home/alexkatopodis/anaconda3/lib/python3.11/site-packages/pandas/io/formats/style.py:3851: RuntimeWarning: invalid value encountered in scalar divide
  end = (x - left) / (right - left)

In [134]:
imputed_data.shape

(3743, 17)

In [135]:
df_child=imputed_data[imputed_data['Age_Years']<=10].reset_index().drop("index", axis = 1)
df_child

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10_Autism_Spectrum_Quotient,Age_Years,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who_completed_the_test,ASD_traits
0,0,0,0,0,0,0,1,1,0,1,2.0,F,Middle Eastern,Yes,No,Family Member,No
1,1,1,0,0,0,1,1,0,0,0,3.0,M,White European,Yes,No,Family Member,Yes
2,1,0,0,0,0,0,1,1,0,1,3.0,M,Middle Eastern,Yes,No,Family Member,Yes
3,1,1,1,1,1,1,1,1,1,1,2.0,M,Hispanic,No,No,Family Member,Yes
4,1,1,0,1,1,1,1,1,1,1,1.0,F,White European,No,Yes,Family Member,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2221,0,0,0,0,0,0,0,0,0,1,7.0,M,Middle Eastern,No,No,Health Care Professional,No
2222,0,0,0,0,0,0,0,0,0,1,7.0,F,Asian,No,No,Health Care Professional,No
2223,0,0,0,0,0,0,0,0,0,1,7.0,M,Middle Eastern,No,No,Health Care Professional,No
2224,0,0,0,0,0,0,0,0,0,1,7.0,M,White European,No,No,Health Care Professional,Yes
2225,0,0,0,0,0,0,0,0,0,1,7.0,M,White European,No,No,Health Care Professional,Yes

In [136]:
df_adolescent = imputed_data[(imputed_data['Age_Years'] >= 11) & (imputed_data['Age_Years'] <= 15)].reset_index().drop("index", axis=1)
df_adolescent

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10_Autism_Spectrum_Quotient,Age_Years,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who_completed_the_test,ASD_traits
0,0,0,0,0,0,0,0,0,0,0,14.0,M,Asian,No,No,Family Member,No
1,0,1,0,0,1,0,1,0,0,1,14.0,F,Asian,No,No,Family Member,No
2,0,0,0,0,0,0,0,0,0,1,15.0,F,Middle Eastern,Yes,No,Family Member,No
3,0,0,0,0,0,0,0,0,0,1,12.0,M,White European,Yes,No,Family Member,No
4,0,0,0,0,0,0,0,0,0,1,15.0,M,Middle Eastern,Yes,Yes,Family Member,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,0,0,0,0,0,0,0,0,0,0,14.0,M,White European,No,No,Health Care Professional,Yes
716,0,0,0,0,0,0,0,0,0,0,14.0,F,South Asian,No,No,Health Care Professional,No
717,0,0,0,0,0,0,0,0,0,0,14.0,M,White European,No,No,Health Care Professional,Yes
718,0,0,0,0,0,0,0,0,0,0,14.0,F,South Asian,No,No,Health Care Professional,No
719,0,0,0,0,0,0,0,0,0,0,14.0,M,Middle Eastern,No,No,Health Care Professional,No

In [137]:
df_young = imputed_data[(imputed_data['Age_Years'] >= 16) & (imputed_data['Age_Years'] <= 24)].reset_index().drop("index", axis=1)
df_young

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10_Autism_Spectrum_Quotient,Age_Years,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who_completed_the_test,ASD_traits
0,1,1,0,1,0,0,0,1,0,1,24.0,M,Latino,No,Yes,Self,No
1,0,1,0,0,0,0,0,1,0,0,17.0,F,Black,No,No,Self,No
2,1,1,1,1,0,1,1,1,1,0,17.0,M,Asian,Yes,Yes,Health Care Professional,Yes
3,0,1,0,1,1,1,1,0,0,1,18.0,F,Middle Eastern,No,No,Parent,No
4,0,1,1,1,1,1,0,0,1,0,17.0,F,Asian,No,No,Family Member,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377,0,0,0,0,0,0,0,0,0,0,17.0,M,Middle Eastern,No,No,Health Care Professional,No
378,0,0,0,0,0,0,0,0,0,0,17.0,F,Asian,No,No,Health Care Professional,No
379,0,0,0,0,0,0,0,0,0,0,17.0,F,Asian,No,No,Health Care Professional,No
380,0,0,0,0,0,0,0,0,0,0,17.0,M,Middle Eastern,No,No,Health Care Professional,No
381,0,0,0,0,0,0,0,0,0,0,17.0,F,Asian,No,No,Health Care Professional,No

In [138]:
df_adult=imputed_data[imputed_data['Age_Years']>=25].reset_index().drop("index", axis = 1)
df_adult

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10_Autism_Spectrum_Quotient,Age_Years,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who_completed_the_test,ASD_traits
0,1,1,1,1,0,0,1,1,0,0,26.0,F,White-European,No,No,Self,No
1,1,1,0,1,1,0,1,1,1,1,27.0,M,Latino,Yes,Yes,Parent,Yes
2,1,1,0,1,0,0,1,1,0,1,35.0,F,White-European,No,Yes,Self,No
3,1,0,0,0,0,0,0,1,0,0,40.0,F,Asian,No,No,Family Member,No
4,1,1,1,1,1,0,1,1,1,1,36.0,M,Others,Yes,No,Self,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410,1,1,1,1,1,1,1,1,1,1,27.0,F,Pacifica,No,No,Self,Yes
411,0,1,0,1,1,0,1,1,1,1,25.0,F,White-European,No,No,Self,Yes
412,1,0,0,0,0,0,0,1,0,1,34.0,M,Hispanic,No,No,Parent,No
413,1,0,0,1,1,0,1,0,1,1,35.0,M,South Asian,No,No,Self,No
414,1,0,1,1,1,0,1,1,1,1,26.0,F,White-European,No,No,Self,Yes

In [139]:
print(df_child.duplicated().sum())
print(df_adolescent.duplicated().sum())
print(df_young.duplicated().sum())
print(df_adult.duplicated().sum())

574
394
27
5

In [140]:
df_child.drop_duplicates().reset_index().drop("index", axis = 1).shape

(1652, 17)

In [141]:
df_adolescent.drop_duplicates().reset_index().drop("index", axis = 1).shape

(326, 17)

In [142]:
df_young.drop_duplicates().reset_index().drop("index", axis = 1).shape

(355, 17)

In [143]:
df_adult.drop_duplicates().reset_index().drop("index", axis = 1).shape

(410, 17)

In [144]:
df_child.to_csv('analysis/Children_ASD.csv')
df_adolescent.to_csv('analysis/adolescent_ASD.csv')
df_young.to_csv('analysis/Young_ASD.csv')
df_adult.to_csv('analysis/Adult_ASD.csv')